<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".base.BaseUiActivity"
            android:exported="false" />
        <activity
            android:name=".base.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".tts.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".tts.SynthActivity"
            android:exported="false" />
    </application>

</manifest>